<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sheger_PLC.My.MySettings.ShegerDBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ShegerDB.accdb" providerName="System.Data.OleDb"/>
        <add name="Sheger_PLC.My.MySettings.ShegerDBConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Bisrat\Documents\Visual Studio 2010\Projects\Sheger PLC\ShegerDB.accdb&quot;" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
